<!DOCTYPE html>
<html lang="ja">
<head>
  {{ id_ga() | safe }}
  <script src="/static/lib/pace/pace.js"></script>
  <script>Pace.options.ajax.trackMethods = ['GET', 'POST'];</script>
  <link rel="stylesheet" href="/static/lib/pace/pace.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/static/img/favicon.ico">

  {% block content %}
  {% endblock content %}

  {#
    your templates will be expanded here

    <meta name="description" content="">
    <title></title>
    <body>
      <!-- -->
    </body>

  #}

</html>