<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cartta</title>
</head>
<body>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
</body>
</html>